@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My Products Shop</h1>
</div>

<div class="table">
    @foreach (var product in Model.Products)
    {
        <div class="card-body">
            <img src="~/Images/@product.ImagePath">
            <div class="card-header">
                <h3 class="card-title">@product.ProductName</h3>
                @if (product.UnitsInStock.Equals("0"))
                {
                    <h5 class="font-italic" style="color:red">Out of Stock</h5>
                }
            </div>
            <div class="table-warning">
                <div style="padding-left: 30px;">Product ID: @product.ProductID</div>
                <div style="padding-left: 30px">Unit price: @product.UnitPrice</div>
                @if (product.UnitsInStock.Equals("0"))
                {
                    <div style="color:red; padding-left: 30px">Units in stock: @product.UnitsInStock</div>
                }
                else
                {
                    <div style="color:green; padding-left: 30px">Units in stock: @product.UnitsInStock</div>
                }
                <div style="padding-left: 30px">Delivery on: @product.DeliveryOn</div>
            </div>
        </div>
    }
</div>


