@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My Products Shop</h1>
</div>

<div class="table">
    @foreach (var product in Model.Products)
    {

        <div class="card mb-3 bg-light">
            <div class="card-header">
                <img src="~/Images/@product.ImagePath" alt="Cannot display image" width="100" height="100">
                <h3 class="card-title">@product.ProductName</h3>
                @if (product.UnitsInStock.Equals(0))
                {
                    <h5 class="card-text outOfStock">Out of Stock</h5>
                }
            </div>
            <div class="card-body">
                <p class="card-text">Product ID: @product.ProductID</p>
                <p class="card-text">Unit price: @product.UnitPrice</p>
                @if (product.UnitsInStock.Equals(0))
                {
                    <p class="card-text outOfStock">Units in stock: @product.UnitsInStock</p>
                }
                else
                {
                    <p class="card-text inStock">Units in stock: @product.UnitsInStock</p>
                    <p class="card-text">Delivery on: @product.DeliveryOn</p>
                }
            </div>
        </div>
    }
</div>


